# Requirement 1

The data is about the representation of women and transgenders in comics. Theere are two data sets. One from Marvel and other from DC. Both datasets have a set of attributes associated with them. The rows of the data set are comic book characters. Each character has a id, name and url unique to it. Then certain categorical atrributes are specified for these characters. We need to do an analysis between DC and Marvel set to determine which one has more gender descrimination. And the difeerences between the two data.

The article mentions that in recent years there has been some efforsts to include women in comic books. THere has alos been a steady rise in comic book fans which are female.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
!wget -nc -P data https://github.com/fivethirtyeight/data/blob/master/comic-characters/dc-wikia-data.csv
!wget -nc -P data https://github.com/fivethirtyeight/data/blob/master/comic-characters/marvel-wikia-data.csv

File ‘data/dc-wikia-data.csv’ already there; not retrieving.

File ‘data/marvel-wikia-data.csv’ already there; not retrieving.

In [3]:
df1 = pd.read_csv('data/dc-wikia-data.csv')
df2 = pd.read_csv('data/marvel-wikia-data.csv')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 70, saw 2

In [166]:
df1.head(10)

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,YEAR
0,1422,Batman (Bruce Wayne),\/wiki\/Batman_(Bruce_Wayne),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3093.0,"1939, May",1939.0
1,23387,Superman (Clark Kent),\/wiki\/Superman_(Clark_Kent),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2496.0,"1986, October",1986.0
2,1458,Green Lantern (Hal Jordan),\/wiki\/Green_Lantern_(Hal_Jordan),Secret Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,1565.0,"1959, October",1959.0
3,1659,James Gordon (New Earth),\/wiki\/James_Gordon_(New_Earth),Public Identity,Good Characters,Brown Eyes,White Hair,Male Characters,NaN,Living Characters,1316.0,"1987, February",1987.0
4,1576,Richard Grayson (New Earth),\/wiki\/Richard_Grayson_(New_Earth),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,1237.0,"1940, April",1940.0
5,1448,Wonder Woman (Diana Prince),\/wiki\/Wonder_Woman_(Diana_Prince),Public Identity,Good Characters,Blue Eyes,Black Hair,Female Characters,NaN,Living Characters,1231.0,"1941, December",1941.0
6,1486,Aquaman (Arthur Curry),\/wiki\/Aquaman_(Arthur_Curry),Public Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,1121.0,"1941, November",1941.0
7,1451,Timothy Drake (New Earth),\/wiki\/Timothy_Drake_(New_Earth),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,1095.0,"1989, August",1989.0
8,71760,Dinah Laurel Lance (New Earth),\/wiki\/Dinah_Laurel_Lance_(New_Earth),Public Identity,Good Characters,Blue Eyes,Blond Hair,Female Characters,NaN,Living Characters,1075.0,"1969, November",1969.0
9,1380,Flash (Barry Allen),\/wiki\/Flash_(Barry_Allen),Secret Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,1028.0,"1956, October",1956.0

In [167]:
df2.head()

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
0,1678,Spider-Man (Peter Parker),\/Spider-Man_(Peter_Parker),Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,NaN,Living Characters,4043.0,Aug-62,1962.0
1,7139,Captain America (Steven Rogers),\/Captain_America_(Steven_Rogers),Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters,3360.0,Mar-41,1941.0
2,64786,"Wolverine (James \""Logan\"" Howlett)",\/Wolverine_(James_%22Logan%22_Howlett),Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3061.0,Oct-74,1974.0
3,1868,"Iron Man (Anthony \""Tony\"" Stark)",\/Iron_Man_(Anthony_%22Tony%22_Stark),Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2961.0,Mar-63,1963.0
4,2460,Thor (Thor Odinson),\/Thor_(Thor_Odinson),No Dual Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,2258.0,Nov-50,1950.0

In [168]:
df1.dtypes

page_id               int64
name                 object
urlslug              object
ID                   object
ALIGN                object
EYE                  object
HAIR                 object
SEX                  object
GSM                  object
ALIVE                object
APPEARANCES         float64
FIRST APPEARANCE     object
YEAR                float64
dtype: object

In [169]:
df2.dtypes

page_id               int64
name                 object
urlslug              object
ID                   object
ALIGN                object
EYE                  object
HAIR                 object
SEX                  object
GSM                  object
ALIVE                object
APPEARANCES         float64
FIRST APPEARANCE     object
Year                float64
dtype: object

In [170]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6896 entries, 0 to 6895
Data columns (total 13 columns):
page_id             6896 non-null int64
name                6896 non-null object
urlslug             6896 non-null object
ID                  4883 non-null object
ALIGN               6295 non-null object
EYE                 3268 non-null object
HAIR                4622 non-null object
SEX                 6771 non-null object
GSM                 64 non-null object
ALIVE               6893 non-null object
APPEARANCES         6541 non-null float64
FIRST APPEARANCE    6827 non-null object
YEAR                6827 non-null float64
dtypes: float64(2), int64(1), object(10)
memory usage: 700.5+ KB

In [171]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16376 entries, 0 to 16375
Data columns (total 13 columns):
page_id             16376 non-null int64
name                16376 non-null object
urlslug             16376 non-null object
ID                  12606 non-null object
ALIGN               13564 non-null object
EYE                 6609 non-null object
HAIR                12112 non-null object
SEX                 15522 non-null object
GSM                 90 non-null object
ALIVE               16373 non-null object
APPEARANCES         15280 non-null float64
FIRST APPEARANCE    15561 non-null object
Year                15561 non-null float64
dtypes: float64(2), int64(1), object(10)
memory usage: 1.6+ MB

# Requirement 2

In [172]:
enhanced_dictionary = pd.DataFrame(index=df1.columns, columns=['Range', 'Attribute type', 'Attribute desciption'])
for name in df1.columns:
    enhanced_dictionary.loc[name,'type'] = 'object'

In [173]:
enhanced_dictionary

                 Range Attribute type Attribute desciption    type
page_id            NaN            NaN                  NaN  object
name               NaN            NaN                  NaN  object
urlslug            NaN            NaN                  NaN  object
ID                 NaN            NaN                  NaN  object
ALIGN              NaN            NaN                  NaN  object
EYE                NaN            NaN                  NaN  object
HAIR               NaN            NaN                  NaN  object
SEX                NaN            NaN                  NaN  object
GSM                NaN            NaN                  NaN  object
ALIVE              NaN            NaN                  NaN  object
APPEARANCES        NaN            NaN                  NaN  object
FIRST APPEARANCE   NaN            NaN                  NaN  object
YEAR               NaN            NaN                  NaN  object

In [174]:
df1_object = ['name', 'urlslug', 'ID', 'ALIGN', 'EYE', 'HAIR'
                'SEX', 'GSM', 'ALIVE', 'FIRST APPEARANCE']
df1_int64 = ['page_id']
df1_flt64 = ['APPEARANCES', 'YEAR']

In [175]:
enhanced_dictionary.loc[df1_int64,'type'] = 'int64'
enhanced_dictionary.loc[df1_flt64,'type'] = 'float64'

In [176]:
max_df1 = df1.select_dtypes(include=[np.number])
min_df1 = df1.select_dtypes(include=[np.number])

In [177]:
max_df1

      page_id  APPEARANCES    YEAR
0        1422       3093.0  1939.0
1       23387       2496.0  1986.0
2        1458       1565.0  1959.0
3        1659       1316.0  1987.0
4        1576       1237.0  1940.0
...       ...          ...     ...
6891    66302          NaN     NaN
6892   283475          NaN     NaN
6893   283478          NaN     NaN
6894   283471          NaN     NaN
6895   150660          NaN     NaN

[6896 rows x 3 columns]

In [178]:
min_df1

      page_id  APPEARANCES    YEAR
0        1422       3093.0  1939.0
1       23387       2496.0  1986.0
2        1458       1565.0  1959.0
3        1659       1316.0  1987.0
4        1576       1237.0  1940.0
...       ...          ...     ...
6891    66302          NaN     NaN
6892   283475          NaN     NaN
6893   283478          NaN     NaN
6894   283471          NaN     NaN
6895   150660          NaN     NaN

[6896 rows x 3 columns]

In [179]:
enhanced_dictionary.loc['page_id','Valid Values'] = "404010.0 - 1380.0"
enhanced_dictionary.loc['APPEARANCES','Range'] = "3093.0 - 1.0"
enhanced_dictionary.loc['YEAR','Range'] = "2013.0 - 1935.0"

In [180]:
enhanced_dictionary

,Range,Attribute type,Attribute desciption,type,Valid Values
page_id,NaN,NaN,NaN,int64,404010.0 - 1380.0
name,NaN,NaN,NaN,object,NaN
urlslug,NaN,NaN,NaN,object,NaN
ID,NaN,NaN,NaN,object,NaN
ALIGN,NaN,NaN,NaN,object,NaN
EYE,NaN,NaN,NaN,object,NaN
HAIR,NaN,NaN,NaN,object,NaN
SEX,NaN,NaN,NaN,object,NaN
GSM,NaN,NaN,NaN,object,NaN
ALIVE,NaN,NaN,NaN,object,NaN
APPEARANCES,3093.0 - 1.0,NaN,NaN,float64,NaN
FIRST APPEARANCE,NaN,NaN,NaN,object,NaN
YEAR,2013.0 - 1935.0,NaN,NaN,float64,NaN

In [181]:
df1.ID.unique()

array(['Secret Identity', 'Public Identity', nan, 'Identity Unknown'],
      dtype=object)

In [182]:
enhanced_dictionary.loc['ID','Range'] = df1.ID.unique()
enhanced_dictionary.loc['ALIGN','Range'] = df1.ALIGN.unique()
enhanced_dictionary.loc['EYE','Range'] = df1.EYE.unique()
enhanced_dictionary.loc['HAIR','Range'] = df1.HAIR.unique()
enhanced_dictionary.loc['SEX','Range'] = df1.SEX.unique()
enhanced_dictionary.loc['GSM','Range'] = df1.GSM.unique()
enhanced_dictionary.loc['ALIVE','Range'] = df1.ALIVE.unique()

In [183]:
enhanced_dictionary

,Range,Attribute type,Attribute desciption,type,Valid Values
page_id,NaN,NaN,NaN,int64,404010.0 - 1380.0
name,NaN,NaN,NaN,object,NaN
urlslug,NaN,NaN,NaN,object,NaN
ID,"[Secret Identity, Public Identity, nan, Identi...",NaN,NaN,object,NaN
ALIGN,"[Good Characters, Bad Characters, Neutral Char...",NaN,NaN,object,NaN
EYE,"[Blue Eyes, Brown Eyes, Green Eyes, Purple Eye...",NaN,NaN,object,NaN
HAIR,"[Black Hair, Brown Hair, White Hair, Blond Hai...",NaN,NaN,object,NaN
SEX,"[Male Characters, Female Characters, nan, Gend...",NaN,NaN,object,NaN
GSM,"[nan, Bisexual Characters, Homosexual Characters]",NaN,NaN,object,NaN
ALIVE,"[Living Characters, Deceased Characters, nan]",NaN,NaN,object,NaN
APPEARANCES,3093.0 - 1.0,NaN,NaN,float64,NaN
FIRST APPEARANCE,NaN,NaN,NaN,object,NaN
YEAR,2013.0 - 1935.0,NaN,NaN,float64,NaN

In [184]:
enhanced_dictionary.loc['page_id','type'] = "int"
enhanced_dictionary.loc['ID','type'] = "Nominal"
enhanced_dictionary.loc['ALIGN','type'] = "Ordinal"
enhanced_dictionary.loc['EYE','type'] = "Nominal"
enhanced_dictionary.loc['HAIR','type'] = "Nominal"
enhanced_dictionary.loc['SEX','type'] = "Nominal"
enhanced_dictionary.loc['GSM','type'] = "Nominal"
enhanced_dictionary.loc['ALIVE','type'] = "Nominal"
enhanced_dictionary.loc['APPEARANCES','type'] = "flt"
enhanced_dictionary.loc['YEAR','type'] = "flt"

In [185]:
enhanced_dictionary

,Range,Attribute type,Attribute desciption,type,Valid Values
page_id,NaN,NaN,NaN,int,404010.0 - 1380.0
name,NaN,NaN,NaN,object,NaN
urlslug,NaN,NaN,NaN,object,NaN
ID,"[Secret Identity, Public Identity, nan, Identi...",NaN,NaN,Nominal,NaN
ALIGN,"[Good Characters, Bad Characters, Neutral Char...",NaN,NaN,Ordinal,NaN
EYE,"[Blue Eyes, Brown Eyes, Green Eyes, Purple Eye...",NaN,NaN,Nominal,NaN
HAIR,"[Black Hair, Brown Hair, White Hair, Blond Hai...",NaN,NaN,Nominal,NaN
SEX,"[Male Characters, Female Characters, nan, Gend...",NaN,NaN,Nominal,NaN
GSM,"[nan, Bisexual Characters, Homosexual Characters]",NaN,NaN,Nominal,NaN
ALIVE,"[Living Characters, Deceased Characters, nan]",NaN,NaN,Nominal,NaN
APPEARANCES,3093.0 - 1.0,NaN,NaN,flt,NaN
FIRST APPEARANCE,NaN,NaN,NaN,object,NaN
YEAR,2013.0 - 1935.0,NaN,NaN,flt,NaN

In [186]:
enhanced_dictionary.loc['page_id','Description'] = "Wikia link for that character. The page id is unique"
enhanced_dictionary.loc['name','Description'] = "Name of that character"
enhanced_dictionary.loc['urlslug','Description'] = "URL which takes you to the wikia page of that character"
enhanced_dictionary.loc['ID','Description'] = "The identity status, that is, whether the identity of the character is secret or public"
enhanced_dictionary.loc['ALIGN','Description'] = "Whether the character is good, neutral or bad"
enhanced_dictionary.loc['EYE','Description'] = "Character's eye color"
enhanced_dictionary.loc['HAIR','Description'] = "Character's hair color"
enhanced_dictionary.loc['SEX','Description'] = "Character's sex"
enhanced_dictionary.loc['GSM','Description'] = "Character's gsm"
enhanced_dictionary.loc['ALIVE','Description'] = "If the character is alive or not"
enhanced_dictionary.loc['APPEARANCES','Description'] = "Number of comic book appearances"
enhanced_dictionary.loc['FIRST APPEARANCE','Description'] = "Year,Month when the character first appeared"
enhanced_dictionary.loc['YEAR','Description'] = "Year when the character first appeared"

In [187]:
enhanced_dictionary

,Range,Attribute type,Attribute desciption,type,Valid Values,Description
page_id,NaN,NaN,NaN,int,404010.0 - 1380.0,Wikia link for that character. The page id is ...
name,NaN,NaN,NaN,object,NaN,Name of that character
urlslug,NaN,NaN,NaN,object,NaN,URL which takes you to the wikia page of that ...
ID,"[Secret Identity, Public Identity, nan, Identi...",NaN,NaN,Nominal,NaN,"The identity status, that is, whether the iden..."
ALIGN,"[Good Characters, Bad Characters, Neutral Char...",NaN,NaN,Ordinal,NaN,"Whether the character is good, neutral or bad"
EYE,"[Blue Eyes, Brown Eyes, Green Eyes, Purple Eye...",NaN,NaN,Nominal,NaN,Character's eye color
HAIR,"[Black Hair, Brown Hair, White Hair, Blond Hai...",NaN,NaN,Nominal,NaN,Character's hair color
SEX,"[Male Characters, Female Characters, nan, Gend...",NaN,NaN,Nominal,NaN,Character's sex
GSM,"[nan, Bisexual Characters, Homosexual Characters]",NaN,NaN,Nominal,NaN,Character's gsm
ALIVE,"[Living Characters, Deceased Characters, nan]",NaN,NaN,Nominal,NaN,If the character is alive or not
APPEARANCES,3093.0 - 1.0,NaN,NaN,flt,NaN,Number of comic book appearances
FIRST APPEARANCE,NaN,NaN,NaN,object,NaN,"Year,Month when the character first appeared"
YEAR,2013.0 - 1935.0,NaN,NaN,flt,NaN,Year when the character first appeared

# Requirement 3: To find missing data/duplicate data/formatting:

For DC comic

In [188]:
for col in df1.columns:
    print("There are {} missing values in attribute {}". format(df1[col].isna().sum(), col))

There are 0 missing values in attribute page_id
There are 0 missing values in attribute name
There are 0 missing values in attribute urlslug
There are 2013 missing values in attribute ID
There are 601 missing values in attribute ALIGN
There are 3628 missing values in attribute EYE
There are 2274 missing values in attribute HAIR
There are 125 missing values in attribute SEX
There are 6832 missing values in attribute GSM
There are 3 missing values in attribute ALIVE
There are 355 missing values in attribute APPEARANCES
There are 69 missing values in attribute FIRST APPEARANCE
There are 69 missing values in attribute YEAR

For Marvel data set

In [189]:
for col in df2.columns:
    print("There are {} missing values in attribute {}". format(df2[col].isna().sum(), col))

There are 0 missing values in attribute page_id
There are 0 missing values in attribute name
There are 0 missing values in attribute urlslug
There are 3770 missing values in attribute ID
There are 2812 missing values in attribute ALIGN
There are 9767 missing values in attribute EYE
There are 4264 missing values in attribute HAIR
There are 854 missing values in attribute SEX
There are 16286 missing values in attribute GSM
There are 3 missing values in attribute ALIVE
There are 1096 missing values in attribute APPEARANCES
There are 815 missing values in attribute FIRST APPEARANCE
There are 815 missing values in attribute Year

In [190]:
print("There are {} duplicate ids in DC".format(df1['page_id'].duplicated().sum()))

There are 0 duplicate ids in DC

In [191]:
print("There are {} duplicate name in DC".format(df1['name'].duplicated().sum()))

There are 0 duplicate name in DC

In [192]:
print("There are {} duplicate url in DC".format(df1['urlslug'].duplicated().sum()))

There are 0 duplicate url in DC

In [193]:
print("There are {} duplicate ids in Marvel".format(df2['page_id'].duplicated().sum()))

There are 0 duplicate ids in Marvel

In [194]:
print("There are {} duplicate name in Marvel".format(df2['name'].duplicated().sum()))

There are 0 duplicate name in Marvel

In [195]:
print("There are {} duplicate url in Marvel".format(df1['urlslug'].duplicated().sum()))

There are 0 duplicate url in Marvel

In [196]:
df1.dtypes

page_id               int64
name                 object
urlslug              object
ID                   object
ALIGN                object
EYE                  object
HAIR                 object
SEX                  object
GSM                  object
ALIVE                object
APPEARANCES         float64
FIRST APPEARANCE     object
YEAR                float64
dtype: object

From the above information we can see that Appearances and Year are of type int64 and not float64

In [197]:
df2.dtypes

page_id               int64
name                 object
urlslug              object
ID                   object
ALIGN                object
EYE                  object
HAIR                 object
SEX                  object
GSM                  object
ALIVE                object
APPEARANCES         float64
FIRST APPEARANCE     object
Year                float64
dtype: object

From the above information we can see that Appearances and Year are of type int64 and not float64

In [198]:
y = df1.iloc[:,-2:]
print(y.head())

  FIRST APPEARANCE    YEAR
0        1939, May  1939.0
1    1986, October  1986.0
2    1959, October  1959.0
3   1987, February  1987.0
4      1940, April  1940.0

From the above information we see that the YEAR attribute is redundant and can be ignored

In [199]:
y = df2.iloc[:,-2:]
print(y.head())

  FIRST APPEARANCE    Year
0           Aug-62  1962.0
1           Mar-41  1941.0
2           Oct-74  1974.0
3           Mar-63  1963.0
4           Nov-50  1950.0

From the above information we see that the YEAR attribute is redundant and can be ignored

# Requirement 4

Since the attributes page_id, name, urlslug are all unique, there probably isn't much analysis to be done here

Lets consider the attribute ID

In [200]:
dups_id = df1.pivot_table(index=['ID'], aggfunc='size')
print(dups_id)

ID
Identity Unknown       9
Public Identity     2466
Secret Identity     2408
dtype: int64

We can see from the above information that 9 characters have identity unknown, 2466 have public identity and 2408 have secret identity. The creators have not favoured any particular identity

In [201]:
dups_id = df2.pivot_table(index=['ID'], aggfunc='size')
print(dups_id)

ID
Known to Authorities Identity      15
No Dual Identity                 1788
Public Identity                  4528
Secret Identity                  6275
dtype: int64

Most of the characters in Marvel are secret. 1788 characters are unique

In [202]:
dups_align = df1.pivot_table(index=['ALIGN'], aggfunc='size')
print(dups_align)

ALIGN
Bad Characters        2895
Good Characters       2832
Neutral Characters     565
Reformed Criminals       3
dtype: int64

There seems to be equal numbers of good and bad characters in DC

In [203]:
dups_align = df2.pivot_table(index=['ALIGN'], aggfunc='size')
print(dups_align)

ALIGN
Bad Characters        6720
Good Characters       4636
Neutral Characters    2208
dtype: int64

Marvel has a lot of bad characters compared to DC

In [204]:
dups_eye = df1.pivot_table(index=['EYE'], aggfunc='size')
print(dups_eye)

EYE
Amber Eyes               5
Auburn Hair              7
Black Eyes             412
Blue Eyes             1102
Brown Eyes             879
Gold Eyes                9
Green Eyes             291
Grey Eyes               40
Hazel Eyes              23
Orange Eyes             10
Photocellular Eyes      48
Pink Eyes                6
Purple Eyes             14
Red Eyes               208
Violet Eyes             12
White Eyes             116
Yellow Eyes             86
dtype: int64

Most of the DC characters have Blue (1102) and Brown(879) eyes

In [205]:
dups_eye = df2.pivot_table(index=['EYE'], aggfunc='size')
print(dups_eye)

EYE
Amber Eyes           10
Black Eyeballs        3
Black Eyes          555
Blue Eyes          1962
Brown Eyes         1924
Compound Eyes         1
Gold Eyes            14
Green Eyes          613
Grey Eyes            95
Hazel Eyes           76
Magenta Eyes          2
Multiple Eyes         7
No Eyes               7
One Eye              21
Orange Eyes          25
Pink Eyes            21
Purple Eyes          31
Red Eyes            508
Silver Eyes          12
Variable Eyes        49
Violet Eyes          11
White Eyes          400
Yellow Eyeballs       6
Yellow Eyes         256
dtype: int64

Most of the Marvel characters have Blue (1962) and Brown(1924) eyes and these are more compared to DC

In [206]:
dups_hair = df1.pivot_table(index=['HAIR'], aggfunc='size')
print(dups_hair)

HAIR
Black Hair               1574
Blond Hair                744
Blue Hair                  41
Brown Hair               1148
Gold Hair                   5
Green Hair                 42
Grey Hair                 157
Orange Hair                21
Pink Hair                  11
Platinum Blond Hair         2
Purple Hair                32
Red Hair                  461
Reddish Brown Hair          3
Silver Hair                 3
Strawberry Blond Hair      28
Violet Hair                 4
White Hair                346
dtype: int64

Black hair features the most followed by brown hair In DC

In [207]:
dups_hair = df2.pivot_table(index=['HAIR'], aggfunc='size')
print(dups_hair)

HAIR
Auburn Hair                78
Bald                      838
Black Hair               3755
Blond Hair               1582
Blue Hair                  56
Bronze Hair                 1
Brown Hair               2339
Dyed Hair                   1
Gold Hair                   8
Green Hair                117
Grey Hair                 531
Light Brown Hair            6
Magenta Hair                5
No Hair                  1176
Orange Hair                43
Orange-brown Hair           3
Pink Hair                  31
Purple Hair                47
Red Hair                  620
Reddish Blond Hair          6
Silver Hair                16
Strawberry Blond Hair      47
Variable Hair              32
White Hair                754
Yellow Hair                20
dtype: int64

Black hair features the most followed by brown hair In Marvel

In [208]:
dups_sex = df1.pivot_table(index=['SEX'], aggfunc='size')
print(dups_sex)

SEX
Female Characters         1967
Genderless Characters       20
Male Characters           4783
Transgender Characters       1
dtype: int64

The entire article is highlighting the point about male characters being dominant in the comic book industry.
Even transgenders are under represented in DC

In [209]:
dups_sex = df2.pivot_table(index=['SEX'], aggfunc='size')
print(dups_sex)

SEX
Agender Characters           45
Female Characters          3837
Genderfluid Characters        2
Male Characters           11638
dtype: int64

Marvel has predominantly a large number of male characters compred to female ones. DC fares better than Marvel in female representation

In [210]:
dups_gsm = df1.pivot_table(index=['GSM'], aggfunc='size')
print(dups_gsm)

GSM
Bisexual Characters      10
Homosexual Characters    54
dtype: int64

The comics have homosexual characters. These may have been introduced to suit the story line

In [211]:
dups_gsm = df2.pivot_table(index=['GSM'], aggfunc='size')
print(dups_gsm)

GSM
Bisexual Characters       19
Genderfluid Characters     1
Homosexual Characters     66
Pansexual Characters       1
Transgender Characters     2
Transvestites              1
dtype: int64

Marvel has a variety of GSM types compared to DC

In [212]:
dups_alive = df1.pivot_table(index=['ALIVE'], aggfunc='size')
print(dups_alive)

ALIVE
Deceased Characters    1693
Living Characters      5200
dtype: int64

This information shows that DC has contuniued with the majority of characters till date

In [213]:
dups_alive = df2.pivot_table(index=['ALIVE'], aggfunc='size')
print(dups_alive)

ALIVE
Deceased Characters     3765
Living Characters      12608
dtype: int64

Marvel has a much larger number of living characeters. Also marvel characters are much more than DC

In [214]:
print("The character {} has appeared a max of {} times in DC ".format(df1.iloc[df1.APPEARANCES.idxmax()]['name'], int(df1.APPEARANCES.max())))

The character Batman (Bruce Wayne) has appeared a max of 3093 times in DC

In [215]:
print("The character {} has appeared a max of {} times in DC".format(df2.iloc[df2.APPEARANCES.idxmax()]['name'], int(df2.APPEARANCES.max())))

The character Spider-Man (Peter Parker) has appeared a max of 4043 times in DC

In [216]:
dups_entry = df1.pivot_table(index=['APPEARANCES'], aggfunc='size')
print("{} characters is DC have been introduced just {} time.".format(dups_entry.max(),int(dups_entry.idxmax())))

1002 characters is DC have been introduced just 1 time.

In [217]:
dups_entry = df2.pivot_table(index=['APPEARANCES'], aggfunc='size')
print("{} characters is DC have been introduced just {} time.".format(dups_entry.max(),int(dups_entry.idxmax())))

4810 characters is DC have been introduced just 1 time.

In [218]:
dups_year = df1.pivot_table(index=['YEAR'], aggfunc='size')
print(dups_year.max())

303

In [219]:
df1.describe()

             page_id  APPEARANCES         YEAR
count    6896.000000  6541.000000  6827.000000
mean   147441.209252    23.625134  1989.766662
std    108388.631149    87.378509    16.824194
min      1380.000000     1.000000  1935.000000
25%     44105.500000     2.000000  1983.000000
50%    141267.000000     6.000000  1992.000000
75%    213203.000000    15.000000  2003.000000
max    404010.000000  3093.000000  2013.000000

In [220]:
df2.describe()

             page_id   APPEARANCES          Year
count   16376.000000  15280.000000  15561.000000
mean   300232.082377     17.033377   1984.951803
std    253460.403399     96.372959     19.663571
min      1025.000000      1.000000   1939.000000
25%     28309.500000      1.000000   1974.000000
50%    282578.000000      3.000000   1990.000000
75%    509077.000000      8.000000   2000.000000
max    755278.000000   4043.000000   2013.000000

In [221]:
df1.describe(include = 'object')

,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,FIRST APPEARANCE
count,6896,6896,4883,6295,3268,4622,6771,64,6893,6827
unique,6896,6896,3,4,17,17,4,2,2,774
top,Atinai (New Earth),\/wiki\/Theodore_Knight_(New_Earth),Public Identity,Bad Characters,Blue Eyes,Black Hair,Male Characters,Homosexual Characters,Living Characters,"2010, December"
freq,1,1,2466,2895,1102,1574,4783,54,5200,78

In [222]:
df2.describe(include = 'object')

,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,FIRST APPEARANCE
count,16376,16376,12606,13564,6609,12112,15522,90,16373,15561
unique,16376,16376,4,3,24,25,4,6,2,832
top,Korea Katie (Earth-616),\/Legion_(Possessors)_(Earth-616),Secret Identity,Bad Characters,Blue Eyes,Black Hair,Male Characters,Homosexual Characters,Living Characters,Jun-92
freq,1,1,6275,6720,1962,3755,11638,66,12608,72