# Exploratory Data Analysis

Name: Akshay Kekuda

# LAB1

## Requirement 1

The data is about the representation of women and transgenders in comics. Theere are two data sets. One from Marvel and other from DC. Both datasets have a set of attributes associated with them. The rows of the data set are comic book characters. Each character has a id, name and url unique to it. Then certain categorical atrributes are specified for these characters. We need to do an analysis between DC and Marvel set to determine which one has more gender descrimination. And the difeerences between the two data.

The article mentions that in recent years there has been some efforsts to include women in comic books. THere has alos been a steady rise in comic book fans which are female.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
#Using wget from github server converts the file to html. So I am using the downloaded file stored in /data

# !wget -nc -P data https://github.com/fivethirtyeight/data/blob/master/comic-characters/dc-wikia-data.csv
# !wget -nc -P data https://github.com/fivethirtyeight/data/blob/master/comic-characters/marvel-wikia-data.csv

In [3]:
df1 = pd.read_csv('data/dc-wikia-data.csv')
df2 = pd.read_csv('data/marvel-wikia-data.csv')

In [4]:
df1.head(10)

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,YEAR
0,1422,Batman (Bruce Wayne),\/wiki\/Batman_(Bruce_Wayne),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3093.0,"1939, May",1939.0
1,23387,Superman (Clark Kent),\/wiki\/Superman_(Clark_Kent),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2496.0,"1986, October",1986.0
2,1458,Green Lantern (Hal Jordan),\/wiki\/Green_Lantern_(Hal_Jordan),Secret Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,1565.0,"1959, October",1959.0
3,1659,James Gordon (New Earth),\/wiki\/James_Gordon_(New_Earth),Public Identity,Good Characters,Brown Eyes,White Hair,Male Characters,NaN,Living Characters,1316.0,"1987, February",1987.0
4,1576,Richard Grayson (New Earth),\/wiki\/Richard_Grayson_(New_Earth),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,1237.0,"1940, April",1940.0
5,1448,Wonder Woman (Diana Prince),\/wiki\/Wonder_Woman_(Diana_Prince),Public Identity,Good Characters,Blue Eyes,Black Hair,Female Characters,NaN,Living Characters,1231.0,"1941, December",1941.0
6,1486,Aquaman (Arthur Curry),\/wiki\/Aquaman_(Arthur_Curry),Public Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,1121.0,"1941, November",1941.0
7,1451,Timothy Drake (New Earth),\/wiki\/Timothy_Drake_(New_Earth),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,1095.0,"1989, August",1989.0
8,71760,Dinah Laurel Lance (New Earth),\/wiki\/Dinah_Laurel_Lance_(New_Earth),Public Identity,Good Characters,Blue Eyes,Blond Hair,Female Characters,NaN,Living Characters,1075.0,"1969, November",1969.0
9,1380,Flash (Barry Allen),\/wiki\/Flash_(Barry_Allen),Secret Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,1028.0,"1956, October",1956.0

In [5]:
df2.head()

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
0,1678,Spider-Man (Peter Parker),\/Spider-Man_(Peter_Parker),Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,NaN,Living Characters,4043.0,Aug-62,1962.0
1,7139,Captain America (Steven Rogers),\/Captain_America_(Steven_Rogers),Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters,3360.0,Mar-41,1941.0
2,64786,"Wolverine (James \""Logan\"" Howlett)",\/Wolverine_(James_%22Logan%22_Howlett),Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3061.0,Oct-74,1974.0
3,1868,"Iron Man (Anthony \""Tony\"" Stark)",\/Iron_Man_(Anthony_%22Tony%22_Stark),Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2961.0,Mar-63,1963.0
4,2460,Thor (Thor Odinson),\/Thor_(Thor_Odinson),No Dual Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,2258.0,Nov-50,1950.0

In [6]:
df1.dtypes

page_id               int64
name                 object
urlslug              object
ID                   object
ALIGN                object
EYE                  object
HAIR                 object
SEX                  object
GSM                  object
ALIVE                object
APPEARANCES         float64
FIRST APPEARANCE     object
YEAR                float64
dtype: object

In [7]:
df2.dtypes

page_id               int64
name                 object
urlslug              object
ID                   object
ALIGN                object
EYE                  object
HAIR                 object
SEX                  object
GSM                  object
ALIVE                object
APPEARANCES         float64
FIRST APPEARANCE     object
Year                float64
dtype: object

In [8]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6896 entries, 0 to 6895
Data columns (total 13 columns):
page_id             6896 non-null int64
name                6896 non-null object
urlslug             6896 non-null object
ID                  4883 non-null object
ALIGN               6295 non-null object
EYE                 3268 non-null object
HAIR                4622 non-null object
SEX                 6771 non-null object
GSM                 64 non-null object
ALIVE               6893 non-null object
APPEARANCES         6541 non-null float64
FIRST APPEARANCE    6827 non-null object
YEAR                6827 non-null float64
dtypes: float64(2), int64(1), object(10)
memory usage: 700.5+ KB

In [9]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16376 entries, 0 to 16375
Data columns (total 13 columns):
page_id             16376 non-null int64
name                16376 non-null object
urlslug             16376 non-null object
ID                  12606 non-null object
ALIGN               13564 non-null object
EYE                 6609 non-null object
HAIR                12112 non-null object
SEX                 15522 non-null object
GSM                 90 non-null object
ALIVE               16373 non-null object
APPEARANCES         15280 non-null float64
FIRST APPEARANCE    15561 non-null object
Year                15561 non-null float64
dtypes: float64(2), int64(1), object(10)
memory usage: 1.6+ MB

## Requirement 2

In [10]:
enhanced_dictionary_dc = pd.DataFrame(index=df1.columns, columns=['Range', 'Attribute type'])

In [11]:
enhanced_dictionary_dc['Data Type'] = df1.dtypes

In [12]:
num_dtypes = df1.select_dtypes(include=['int64','float64'])
for col in num_dtypes:
    min_in_col = df1[col].min()
    max_in_col = df1[col].max()
    enhanced_dictionary_dc.loc[col,'Range'] = (max_in_col, min_in_col)

In [13]:
for i in range(3,10):
    enhanced_dictionary_dc.iloc[i]['Range'] = df1.iloc[:, i].unique()

In [14]:
for col in df1.columns:
    if type(enhanced_dictionary_dc.loc[col, 'Range']) is tuple:
        enhanced_dictionary_dc.loc[col, 'Attribute type'] = 'integer' if \
        (np.dtype(enhanced_dictionary_dc.loc[col,"Data Type"])) == 'int64' else 'float'
    elif type(enhanced_dictionary_dc.loc[col, 'Range']) is float:
        continue
    else:
        if(col == 'ID'):
            enhanced_dictionary_dc.loc[col, 'Attribute type'] = 'Nominal'
        elif(col == 'ALIGN'):
            enhanced_dictionary_dc.loc[col, 'Attribute type'] = 'Ordinal'
        elif(col == 'EYE'):
            enhanced_dictionary_dc.loc[col, 'Attribute type'] = 'Nominal'
        elif col == 'HAIR':
            enhanced_dictionary_dc.loc[col, 'Attribute type'] = 'Nominal'
        elif col == 'SEX':
            enhanced_dictionary_dc.loc[col, 'Attribute type'] = 'Nominal'
        elif col == 'GSM':
            enhanced_dictionary_dc.loc[col, 'Attribute type'] = 'Nominal'
        elif col == 'ALIVE':
            enhanced_dictionary_dc.loc[col, 'Attribute type'] = 'Nominal'

In [15]:
enhanced_dictionary_dc.loc['page_id','Attribute description'] = "Wikia link for that character. The page id is unique"
enhanced_dictionary_dc.loc['name','Attribute description'] = "Name of that character"
enhanced_dictionary_dc.loc['urlslug','Attribute description'] = "URL which takes you to the wikia page of that character"
enhanced_dictionary_dc.loc['ID','Attribute description'] = "The identity status, that is, whether the identity of the character is secret or public"
enhanced_dictionary_dc.loc['ALIGN','Attribute description'] = "Whether the character is good, neutral or bad"
enhanced_dictionary_dc.loc['EYE','Attribute description'] = "Character's eye color"
enhanced_dictionary_dc.loc['HAIR','Attribute description'] = "Character's hair color"
enhanced_dictionary_dc.loc['SEX','Attribute description'] = "Character's sex"
enhanced_dictionary_dc.loc['GSM','Attribute description'] = "Character's gsm"
enhanced_dictionary_dc.loc['ALIVE','Attribute description'] = "If the character is alive or not"
enhanced_dictionary_dc.loc['APPEARANCES','Attribute description'] = "Number of comic book appearances"
enhanced_dictionary_dc.loc['FIRST APPEARANCE','Attribute description'] = "Year,Month when the character first appeared"
enhanced_dictionary_dc.loc['YEAR','Attribute description'] = "Year when the character first appeared"

In [16]:
enhanced_dictionary = pd.DataFrame(index=df2.columns, columns=['Range', 'Attribute type'])

In [17]:
enhanced_dictionary['Data Type'] = df2.dtypes

In [18]:
num_dtypes = df2.select_dtypes(include=['int64','float64'])
for col in num_dtypes:
    min_in_col = df2[col].min()
    max_in_col = df2[col].max()
    enhanced_dictionary.loc[col,'Range'] = (max_in_col, min_in_col)

In [19]:
for i in range(3,10):
    enhanced_dictionary.iloc[i]['Range'] = df2.iloc[:, i].unique()

In [20]:
for col in df2.columns:
    if type(enhanced_dictionary.loc[col, 'Range']) is tuple:
        enhanced_dictionary.loc[col, 'Attribute type'] = 'integer' if \
        (np.dtype(enhanced_dictionary.loc[col,"Data Type"])) == 'int64' else 'float'
    elif type(enhanced_dictionary.loc[col, 'Range']) is float:
        continue
    else:
        if(col == 'ID'):
            enhanced_dictionary.loc[col, 'Attribute type'] = 'Nominal'
        elif(col == 'ALIGN'):
            enhanced_dictionary.loc[col, 'Attribute type'] = 'Ordinal'
        elif(col == 'EYE'):
            enhanced_dictionary.loc[col, 'Attribute type'] = 'Nominal'
        elif col == 'HAIR':
            enhanced_dictionary.loc[col, 'Attribute type'] = 'Nominal'
        elif col == 'SEX':
            enhanced_dictionary.loc[col, 'Attribute type'] = 'Nominal'
        elif col == 'GSM':
            enhanced_dictionary.loc[col, 'Attribute type'] = 'Nominal'
        elif col == 'ALIVE':
            enhanced_dictionary.loc[col, 'Attribute type'] = 'Nominal'

In [21]:
enhanced_dictionary.loc['page_id','Attribute description'] = "Wikia link for that character. The page id is unique"
enhanced_dictionary.loc['name','Attribute description'] = "Name of that character"
enhanced_dictionary.loc['urlslug','Attribute description'] = "URL which takes you to the wikia page of that character"
enhanced_dictionary.loc['ID','Attribute description'] = "The identity status, that is, whether the identity of the character is secret or public"
enhanced_dictionary.loc['ALIGN','Attribute description'] = "Whether the character is good, neutral or bad"
enhanced_dictionary.loc['EYE','Attribute description'] = "Character's eye color"
enhanced_dictionary.loc['HAIR','Attribute description'] = "Character's hair color"
enhanced_dictionary.loc['SEX','Attribute description'] = "Character's sex"
enhanced_dictionary.loc['GSM','Attribute description'] = "Character's gsm"
enhanced_dictionary.loc['ALIVE','Attribute description'] = "If the character is alive or not"
enhanced_dictionary.loc['APPEARANCES','Attribute description'] = "Number of comic book appearances"
enhanced_dictionary.loc['FIRST APPEARANCE','Attribute description'] = "Year,Month when the character first appeared"
enhanced_dictionary.loc['Year','Attribute description'] = "Year when the character first appeared"

In [22]:
print("DC Data Dictionary")
enhanced_dictionary_dc

DC Data Dictionary

,Range,Attribute type,Data Type,Attribute description
page_id,"(404010, 1380)",integer,int64,Wikia link for that character. The page id is ...
name,NaN,NaN,object,Name of that character
urlslug,NaN,NaN,object,URL which takes you to the wikia page of that ...
ID,"[Secret Identity, Public Identity, nan, Identi...",Nominal,object,"The identity status, that is, whether the iden..."
ALIGN,"[Good Characters, Bad Characters, Neutral Char...",Ordinal,object,"Whether the character is good, neutral or bad"
EYE,"[Blue Eyes, Brown Eyes, Green Eyes, Purple Eye...",Nominal,object,Character's eye color
HAIR,"[Black Hair, Brown Hair, White Hair, Blond Hai...",Nominal,object,Character's hair color
SEX,"[Male Characters, Female Characters, nan, Gend...",Nominal,object,Character's sex
GSM,"[nan, Bisexual Characters, Homosexual Characters]",Nominal,object,Character's gsm
ALIVE,"[Living Characters, Deceased Characters, nan]",Nominal,object,If the character is alive or not
APPEARANCES,"(3093.0, 1.0)",float,float64,Number of comic book appearances
FIRST APPEARANCE,NaN,NaN,object,"Year,Month when the character first appeared"
YEAR,"(2013.0, 1935.0)",float,float64,Year when the character first appeared

In [ ]:
print("Marvel Data Dictionary")
enhanced_dictionary

## Requirement 3: To find missing data/duplicate data/formatting:

For DC comic

In [ ]:
for col in df1.columns:
    print("There are {} missing values in attribute {}". format(df1[col].isna().sum(), col))

For Marvel data set

In [ ]:
for col in df2.columns:
    print("There are {} missing values in attribute {}". format(df2[col].isna().sum(), col))

In [ ]:
print("There are {} duplicate ids in DC".format(df1['page_id'].duplicated().sum()))

In [ ]:
print("There are {} duplicate name in DC".format(df1['name'].duplicated().sum()))

In [ ]:
print("There are {} duplicate url in DC".format(df1['urlslug'].duplicated().sum()))

In [ ]:
print("There are {} duplicate ids in Marvel".format(df2['page_id'].duplicated().sum()))

In [ ]:
print("There are {} duplicate name in Marvel".format(df2['name'].duplicated().sum()))

In [ ]:
print("There are {} duplicate url in Marvel".format(df1['urlslug'].duplicated().sum()))

In [ ]:
df1.dtypes

From the above information we can see that Appearances and Year should be of type int64 and not float64

In [ ]:
df2.dtypes

From the above information we can see that Appearances and Year should be of type int64 and not float64

In [ ]:
y = df1.iloc[:,-2:]
print(y.head())

From the above information we see that the YEAR attribute is redundant and can be ignored

In [ ]:
y = df2.iloc[:,-2:]
print(y.head())

From the above information we see that the YEAR attribute is redundant and can be ignored

## Requirement 4

Since the attributes page_id, name, urlslug are all unique, there probably isn't much analysis to be done here

Lets consider the attribute ID

In [ ]:
dups_id = df1.pivot_table(index=['ID'], aggfunc='size')
print(dups_id)

We can see from the above information that 9 characters have identity unknown, 2466 have public identity and 2408 have secret identity. The creators have not favoured any particular identity

In [ ]:
dups_id = df2.pivot_table(index=['ID'], aggfunc='size')
print(dups_id)

Most of the characters in Marvel are secret. 1788 characters are unique

In [ ]:
dups_align = df1.pivot_table(index=['ALIGN'], aggfunc='size')
print(dups_align)

There seems to be equal numbers of good and bad characters in DC

In [ ]:
dups_align = df2.pivot_table(index=['ALIGN'], aggfunc='size')
print(dups_align)

Marvel has a lot of bad characters compared to DC

In [ ]:
dups_eye = df1.pivot_table(index=['EYE'], aggfunc='size')
print(dups_eye)

Most of the DC characters have Blue (1102) and Brown(879) eyes

In [ ]:
dups_eye = df2.pivot_table(index=['EYE'], aggfunc='size')
print(dups_eye)

Most of the Marvel characters have Blue (1962) and Brown(1924) eyes and these are more compared to DC

In [ ]:
dups_hair = df1.pivot_table(index=['HAIR'], aggfunc='size')
print(dups_hair)

Black hair features the most followed by brown hair In DC

In [ ]:
dups_hair = df2.pivot_table(index=['HAIR'], aggfunc='size')
print(dups_hair)

Black hair features the most followed by brown hair In Marvel
Another important observation here is Marvel has characters that are bald but DC does not.

In [ ]:
dups_sex = df1.pivot_table(index=['SEX'], aggfunc='size')
print(dups_sex)

The entire article is highlighting the point about male characters being dominant in the comic book industry.
Even transgenders are under represented in DC

In [ ]:
dups_sex = df2.pivot_table(index=['SEX'], aggfunc='size')
print(dups_sex)

Marvel has predominantly a large number of male characters compred to female ones. DC fares better than Marvel in female representation

In [ ]:
dups_gsm = df1.pivot_table(index=['GSM'], aggfunc='size')
print(dups_gsm)

The comics have homosexual characters. These may have been introduced to suit the story line

In [ ]:
dups_gsm = df2.pivot_table(index=['GSM'], aggfunc='size')
print(dups_gsm)

Marvel has a variety of GSM types compared to DC

In [ ]:
dups_alive = df1.pivot_table(index=['ALIVE'], aggfunc='size')
print(dups_alive)

This information shows that DC has contuniued with the majority of characters till date

In [ ]:
dups_alive = df2.pivot_table(index=['ALIVE'], aggfunc='size')
print(dups_alive)

Marvel has a much larger number of living characeters. Also marvel characters are much more than DC.

In [ ]:
print("The character {} has appeared a max of {} times in DC ".format(df1.iloc[df1.APPEARANCES.idxmax()]['name'], int(df1.APPEARANCES.max())))

In [ ]:
print("The character {} has appeared a max of {} times in DC".format(df2.iloc[df2.APPEARANCES.idxmax()]['name'], int(df2.APPEARANCES.max())))

In [ ]:
dups_entry = df1.pivot_table(index=['APPEARANCES'], aggfunc='size')
print("{} characters is DC have been introduced just {} time.".format(dups_entry.max(),int(dups_entry.idxmax())))

In [ ]:
dups_entry = df2.pivot_table(index=['APPEARANCES'], aggfunc='size')
print("{} characters is DC have been introduced just {} time.".format(dups_entry.max(),int(dups_entry.idxmax())))

In [ ]:
dups_year = df1.pivot_table(index=['YEAR'], aggfunc='size')
print("In the year {}, DC has released most characters".format(int(dups_year.idxmax())))

In [ ]:
dups_year = df2.pivot_table(index=['Year'], aggfunc='size')
print("In the year {}, Marvel has released most characters".format(int(dups_year.idxmax())))

In [ ]:
df1.describe()

In [ ]:
df2.describe()

In [ ]:
df1.describe(include = 'object')

In [ ]:
df2.describe(include = 'object')

# LAB2

## Requirement 1 : Data Preprocessing

Let us start by looking at the data type of the attributes

In [ ]:
dc_df = pd.read_csv('data/dc-wikia-data.csv')
marvel_df = pd.read_csv('data/marvel-wikia-data.csv')

In [ ]:
dc_df.dtypes

Appearances and YEAR is of type int64. So we can cast the values of appearances and year to int64

In [ ]:
df1['APPEARANCES'] = dc_df['APPEARANCES'].astype("Int64")
df1['YEAR'] = dc_df['YEAR'].astype("Int64")

In [ ]:
df1.head()

Similarly for Marvel data set let us convert number of appearances and year to type int

In [ ]:
df2['APPEARANCES'] = marvel_df['APPEARANCES'].astype("Int64")
df2['Year'] = marvel_df['Year'].astype("Int64")
df2.head()

In [ ]:
dc_df = pd.read_csv('data/dc-wikia-data.csv')
marvel_df = pd.read_csv('data/marvel-wikia-data.csv')

In [ ]:
unique_char_dc = len(dc_df['name'])
unique_char_marvel = len(marvel_df['name'])

print("Number of characters in DC: {}".format(unique_char_dc))
print("Number of characters in Marvel: {}".format(unique_char_marvel))

Let us have a look at the GSM column.

In [ ]:
dc_df['GSM'].value_counts()

In [ ]:
marvel_df['GSM'].value_counts()

In [ ]:
print("Percentage of missing GSM for DC:{:.2f}%".format(dc_df['GSM'].isna().sum()*100/unique_char_dc))
print("Percentage of missing GSM for Marvel:{:.2f}%".format(marvel_df['GSM'].isna().sum()*100/unique_char_marvel))

Since GSM has most of the missing characters, we need to have a look at this data. I assume that missing values 
here would mean that the character has inclination towards the opposite gender. One statsitc to notice here would probably be about the year of first appearance of the GSM characters. The article speaks about the introduction of sexual minorities in the recent years. This can be verified now.

In [ ]:
fig = plt.figure(figsize=(12,4), dpi=75)
fig.suptitle("No. of minority sexual characters")
ax1 = fig.add_subplot(121)
gsm_df_dc = df1.iloc[df1.loc[pd.notnull(df1["GSM"]), :].index]['YEAR']
gsm_df_dc.hist(ax = ax1)
ax1.set_title('DC Comics')
ax1.set_xlabel("Year")
ax1.set_ylabel("No. of minority characters")
ax2 = fig.add_subplot(122)
gsm_df_mv = df2.iloc[df2.loc[pd.notnull(df2["GSM"]), :].index]['Year']
gsm_df_mv.hist(ax = ax2)
ax2.set_title('Marvel Comics')
ax2.set_xlabel("Year")
ax2.set_ylabel("No. of minority characters")

plt.show()

From the above graphs we can see that representation for minority sexual characters has started only after 1980's in case of DC and after 2000's for Marvel comics. This is in line with the claim by the article that minority sexual characters were introduced just lately.

Now let us look at the attributes first appearance and year. It has redundant data. We can try removing the year of appearance from the attribute first appearance

In [ ]:
df1['FIRST APPEARANCE'] = [data if type(data) is float else data.split(',')[-1] \
                           for data in dc_df['FIRST APPEARANCE']]
df2['FIRST APPEARANCE'] = [data if type(data) is float else data.split('-')[0] \
                           for data in marvel_df['FIRST APPEARANCE']]

In [ ]:
df1.sample(10)

In [ ]:
df2.sample(10)

In [ ]:
df1['FIRST APPEARANCE'].value_counts()

After preprocessing the DC dataset we see that there is a Holiday object and many data points have the month missing. For the holiday data, we can assume that the holiday is the christmas month. In case we look at the summer months which are usually holidays for kids, the data does not show much preference towards Summmer. So we can impute it to the month December.

In [ ]:
hasNaN = [data for data in range(len(df1['FIRST APPEARANCE'])) \
          if pd.notna(dc_df.iloc[data]['FIRST APPEARANCE']) and pd.isna(df1.iloc[data]['YEAR'])]
temp_df = df1.iloc[hasNaN]
temp_df

The above analysis shows that there are no rows that have missing year value that could be extraceted from the first appearance column

In [ ]:
df2['FIRST APPEARANCE'].value_counts()

The MARVEL dataset on the other hand doesn't need any preprocessing for the first appearance month column

In [ ]:
hasNaN = [data for data in range(len(df2['FIRST APPEARANCE'])) \
          if pd.notna(marvel_df.iloc[data]['FIRST APPEARANCE']) and pd.isna(df2.iloc[data]['Year'])]
temp_df = df1.iloc[hasNaN]
temp_df

The above analysis shows that there are no rows that have missing year value that could be extraceted from the first appearance column

In [ ]:
hasNaN = [data for data in range(len(df1['FIRST APPEARANCE'])) if pd.isna(df1.iloc[data]['FIRST APPEARANCE'])]
temp_df = df1.iloc[hasNaN]

In [ ]:
temp_df

As can be seen above, DC has some rows have multiple columns with NaN. We can delete such rows as they are not giving much information.

In [ ]:
for index, row in temp_df.iterrows():
    if pd.isna(temp_df.loc[index]['APPEARANCES']) and pd.isna(temp_df.loc[index]['FIRST APPEARANCE']):
        df1.drop(index, inplace= True)

In [ ]:
df1

From the above statistics we see that that character Bedivere has many missing attributes , so lets delete that row as it wont help us in any analysis

In [ ]:
df1.drop(6886, inplace= True)

We can drop page_id and urlslug attributes for our analysis here as they are redundant data. Also since we have finished analyzing GSM attributes we can drop it now

In [ ]:
df1 = df1.drop(columns = ['GSM', 'page_id', 'urlslug'])
hasNaN = df1.isna().any(axis=1)
df1[hasNaN]

In [ ]:
df1

In [ ]:
hasNaN = [data for data in range(len(df2['FIRST APPEARANCE'])) if pd.isna(df2.iloc[data]['FIRST APPEARANCE'])]
temp_df = df2.iloc[hasNaN]

In [ ]:
temp_df

As can be seen above, Marvel has some rows have multiple columns with NaN. We can delete such rows as they are not giving much information.

In [ ]:
for index, row in temp_df.iterrows():
    if pd.isna(temp_df.loc[index]['APPEARANCES']) and pd.isna(temp_df.loc[index]['FIRST APPEARANCE']):
        df2.drop(index, inplace= True)

In [ ]:
df2

We can drop page_id and urlslug attributes for our analysis here as they are redundant data. Also since we have finished analyzing GSM attributes we can drop it now

In [ ]:
df2 = df2.drop(columns = ['GSM', 'page_id', 'urlslug'])
hasNaN = df2.isna().any(axis=1)
df2[hasNaN]

In [ ]:
df2

Let us work on the DC First Appearance month column

In [ ]:
for index, row in df1.iterrows():
    if pd.notna(df1.iloc[index]['FIRST APPEARANCE']):
        if df1.iloc[index]['FIRST APPEARANCE'].isdigit():
            df1.at[index, 'FIRST APPEARANCE'] = np.nan
        elif df1.iloc[index]['FIRST APPEARANCE'] == " Holiday":
            df1.at[index, 'FIRST APPEARANCE'] = ' December'

In [ ]:
df1['FIRST APPEARANCE'].value_counts()

In [ ]:
print("Percentage of missing first appearance data = {:.2f}".format(100* df1['FIRST APPEARANCE'].isna().sum() / len(df1['FIRST APPEARANCE'])))

Let us work on the Marvel First Appearance month column

In [ ]:
for index, row in df2.iterrows():
    if pd.notna(df2.iloc[index]['FIRST APPEARANCE']):
        if df2.iloc[index]['FIRST APPEARANCE'].isdigit():
            df2.at[index, 'FIRST APPEARANCE'] = np.nan

In [ ]:
df2['FIRST APPEARANCE'].value_counts()

In [ ]:
print("Percentage of missing first appearance data = {:.2f}".format(100* df2['FIRST APPEARANCE'].isna().sum() / len(df2['FIRST APPEARANCE'])))

Filling the missing values for the first appearance attribute can be looked at in many ways. The straightforward approach would we to fill missing values with the mode of the set. But this can also be analyzed in the following way: For the character which has a missing month, see the year when it was released. This year would also have many characters that would have other characters released. Since the workload for a year is not uniform across years, we may need to use the mode of a particular year to determine which month the character was released.

In [ ]:
for col in df1.columns:
    print("There are {} missing values in attribute {}". format(df1[col].isna().sum(), col))

Attribute Appearances seems to have 345 missing values. Let us have a look at these data.

In [ ]:
hasNaN = df1['APPEARANCES'].isna()

In [ ]:
temp = df1[hasNaN]
temp

For the number of appearances made, we can safely assume that these characters were introduced atlease once in the
comic universe.

In [ ]:
for index,rows in temp.iterrows():
    df1.at[index, 'APPEARANCES'] = 1

In [ ]:
df1

Another interesting observation from the data is that the rows have been arranged in the decreasing order of the number of appearances.

In [ ]:
for col in df2.columns:
    print("There are {} missing values in attribute {}". format(df2[col].isna().sum(), col))

Attribute Appearances seems to have 896 missing values. Let us have a look at these data.

In [ ]:
hasNaN = df2['APPEARANCES'].isna()

In [ ]:
temp = df2[hasNaN]
temp

For the number of appearances made, we can safely assume that these characters were introduced atlease once in the
comic universe.

In [ ]:
for index,rows in temp.iterrows():
    df2.at[index, 'APPEARANCES'] = 1

In [ ]:
df2

Another interesting observation from the data is that the rows have been arranged in the decreasing order of the number of appearances.

Let us look at the year attribute

In [ ]:
df1.YEAR.isna().sum()

60 of these data are missing. Let us have a look at these 60 rows to see if we get some hint on what the missing year could be

In [ ]:
hasNaN = df1.YEAR.isna()
temp = df1[hasNaN]

In [ ]:
temp.sample(10)

We dont see any useful information here other than the fact that some characters have multiple missing attributes. We will impute the year values by the median year.

In [ ]:
print("Median year of DC data set is {}".format(int(df1.YEAR.median())))
print("We will impute this value to missing year cells")

In [ ]:
df1.at[df1['YEAR'].isna(), 'YEAR'] = int(df1.YEAR.median())

In [ ]:
df1.isna().sum()

For Marvel lets look  at the year attribute

In [ ]:
hasNaN = df2.Year.isna()
temp = df2[hasNaN]

In [ ]:
temp

In [ ]:
print("Median year of marvel data set is {}".format(int(df2.Year.median())))
print("We will impute this value to missing year cells")

In [ ]:
df2.at[df2['Year'].isna(), 'Year'] = int(df2.Year.median())

In [ ]:
df2.isna().sum()

In [ ]:
fig = plt.figure(figsize=(12,4), dpi=75)
fig.suptitle("DC Comics")
ax1 = fig.add_subplot(122)
df1.YEAR.hist(bins=20)
ax1.set_xlabel("Year")
ax1.set_ylabel("No. of characters introduced")
ax1.set_title("after pre processing")

ax2 = fig.add_subplot(121)
dc_df.YEAR.hist(bins=20)
ax2.set_xlabel("Year")
ax2.set_ylabel("No. of characters introduced")
ax2.set_title("before pre processing")
plt.show()

In [ ]:
fig = plt.figure(figsize=(12,4), dpi=75)
fig.suptitle("Marvel")
ax1 = fig.add_subplot(122)
df2.Year.hist(bins=20)
ax1.set_xlabel("Year")
ax1.set_ylabel("No. of characters introduced")
ax1.set_title("after pre processing")

ax2 = fig.add_subplot(121)
marvel_df.Year.hist(bins=20)
ax2.set_xlabel("Year")
ax2.set_ylabel("No. of characters introduced")
ax2.set_title("before pre processing")
plt.show()

As can be seen from the above two plots replacing NaN with the median year has not changed the distribution of characters introduced every year. Also the year 1950-1960 has seen the least number of characters introduced. This can be attributed to Comic Code Authority organization that was set up in 1954s. This resulted in widespread censorhsip of comics during these times

Let us now look at the sex attribute

In [ ]:
data1 = df1['SEX'].value_counts(normalize = 'True')*100
labels1 = data1.keys()
data2 = df2['SEX'].value_counts(normalize = 'True')*100
labels2= data2.keys()

In [ ]:
pie, ax = plt.subplots(figsize=[10,6])
plt.pie(x=data1, autopct="%.1f%%", explode=[0.1]*4, labels=labels1, pctdistance=0.5)
plt.title("Distribution of Sex of characters", fontsize=14);
plt.show()

In [ ]:
#Seaborn barplot
sns.set_style("whitegrid")
fig = plt.figure(figsize=(12,4), dpi=75)
ax1 = fig.add_subplot(111)
sns.barplot(x=labels1, y=data1, ci=None, palette="muted",orient='v', ax=ax1)
ax1.set_title("Sex of characters in DC", fontsize=15)
ax1.set_xlabel ("Sex")
ax1.set_ylabel ("% of characters")
plt.show()

In [ ]:
sns.set_style("whitegrid")
fig = plt.figure(figsize=(12,4), dpi=75)
ax2 = fig.add_subplot(111)
sns.barplot(x=labels2, y=data2, ci=None, palette="muted",orient='v', ax=ax2)
ax2.set_title("Sex of characters in Marvel", fontsize=15)
ax2.set_xlabel ("Sex")
ax2.set_ylabel ("% of characters")
plt.show()

As can be seen from the plots above majority of the characters in the DC and Marvel data sets are male characters, thus verifying the claim by the article

In [ ]:
sns.set_style("whitegrid")
bar,ax = plt.subplots(figsize=(10,6))
ax = sns.countplot(x="ALIGN", hue="SEX", data=df1)
ax.set_title("Alignment of characters in DC", fontsize=15)
ax.set_xlabel ("Type")
ax.set_ylabel ("No. of characters")
plt.show()

In [ ]:
sns.set_style("whitegrid")
bar,ax = plt.subplots(figsize=(10,6))
ax = sns.countplot(x="ALIGN", hue="SEX", data=df2)
ax.set_title("Alignment of characters in Marvel", fontsize=15)
ax.set_xlabel ("Type")
ax.set_ylabel ("No. of characters")
plt.show()

Another claim that the article made was that the number of bad characters who were female were quite low in comparision to the number of bad male characters. This is also verified now.

In [ ]:
sns.set_style("whitegrid")
bar,ax = plt.subplots(figsize=(20,6))
ax = sns.countplot(x="EYE", hue="SEX", data=df1)
ax.set_title("Eye Color of characters in DC", fontsize=15)
ax.set_xlabel ("Type")
ax.set_ylabel ("No. of characters")
plt.show()

In [ ]:
sns.set_style("whitegrid")
bar,ax = plt.subplots(figsize=(20,6))
ax = sns.countplot(x="EYE", hue="SEX", data=df2)
ax.set_title("Eye Color of characters in Marvel", fontsize=15)
ax.set_xlabel ("Type")
ax.set_ylabel ("No. of characters")
plt.show()

As see from the plot above, there are too many types of eye color. We can categorize these into {Blue, brown, black, green, red, white and other} where other includes all other colors.

In [ ]:
df1.EYE.value_counts()

In [ ]:
eye_cat = df1.EYE.value_counts().head(6).keys().tolist()
eye_cat
for index, rows in df1.iterrows():
    if df1.iloc[index]['EYE'] not in eye_cat and pd.notna(df1.iloc[index]['EYE']):
        df1.at[index, 'EYE'] = 'Others'

In [ ]:
df1.EYE.value_counts()

In [ ]:
eye_cat = df2.EYE.value_counts().head(6).keys().tolist()
eye_cat
for index, rows in df2.iterrows():
    if df2.iloc[index]['EYE'] not in eye_cat and pd.notna(df2.iloc[index]['EYE']):
        df2.at[index, 'EYE'] = 'Others'

In [ ]:
sns.set_style("whitegrid")
bar,ax = plt.subplots(figsize=(20,6))
ax = sns.countplot(x="EYE", hue="SEX", data=df1)
ax.set_title("Eye Color of characters in DC", fontsize=15)
ax.set_xlabel ("Type")
ax.set_ylabel ("No. of characters")
plt.show()

In [ ]:
sns.set_style("whitegrid")
bar,ax = plt.subplots(figsize=(20,6))
ax = sns.countplot(x="EYE", hue="SEX", data=df2)
ax.set_title("Eye Color of characters in Marvel", fontsize=15)
ax.set_xlabel ("Type")
ax.set_ylabel ("No. of characters")
plt.show()

It has now become easier to visually anaylyze this data.

In [ ]:
hair_cat = df1.HAIR.value_counts().head(6).keys().tolist()
for index, rows in df1.iterrows():
    if df1.iloc[index]['HAIR'] not in hair_cat and pd.notna(df1.iloc[index]['HAIR']):
        df1.at[index, 'HAIR'] = 'Others'

In [ ]:
sns.set_style("whitegrid")
bar,ax = plt.subplots(figsize=(10,6))
ax = sns.countplot(x="HAIR", hue="SEX", data=df1)
ax.set_title("Hair color of characters in DC", fontsize=15)
ax.set_xlabel ("Type")
ax.set_ylabel ("No. of characters")
plt.show()

In [ ]:
hair_cat = df2.HAIR.value_counts().head(6).keys().tolist()
for index, rows in df2.iterrows():
    if df2.iloc[index]['HAIR'] not in hair_cat and pd.notna(df2.iloc[index]['HAIR']):
        df2.at[index, 'HAIR'] = 'Others'

In [ ]:
sns.set_style("whitegrid")
bar,ax = plt.subplots(figsize=(10,6))
ax = sns.countplot(x="HAIR", hue="SEX", data=df2)
ax.set_title("Hair color of characters in Marvel", fontsize=15)
ax.set_xlabel ("Type")
ax.set_ylabel ("No. of characters")
plt.show()

We are still left with preprocessing the first appearance month.

In [ ]:
temp = df1[df1['YEAR'].between(df1['YEAR'].median() -1, df1['YEAR'].median() + 1)]

In [ ]:
temp['FIRST APPEARANCE'].value_counts()

In [ ]:
hasNaN = [data for data in range(len(df1['FIRST APPEARANCE'])) \
          if pd.isna(dc_df.iloc[data]['FIRST APPEARANCE']) and pd.notna(df1.iloc[data]['YEAR'])]
temp_df = df1.iloc[hasNaN]
temp_df.YEAR.value_counts()

The above analysis shows that missing month corresponds to year 1992 which is the median year. So we can use the mode of the months to fill this missing value. But the mode needs to be computed only for an interval of years, because a creator needs 1-2 years to create a comic character. We see that in the year [1991-1993], most of the characters were released in August/December. So one possible approach is to fill the months with August/December selected at random. We can also randomly select from the list of 12 months and fill the missing months

In [ ]:
months = temp['FIRST APPEARANCE'].value_counts().keys().tolist()
for index, rows in df1.iterrows():
    if pd.isna(df1.iloc[index]['FIRST APPEARANCE']):
        df1.at[index, 'FIRST APPEARANCE'] = np.random.choice(months)

In [ ]:
df1['FIRST APPEARANCE'].value_counts()

In [ ]:
temp = df2[df2['Year'].between(df2['Year'].median() -1, df2['Year'].median() + 1)]

In [ ]:
months = temp['FIRST APPEARANCE'].value_counts().keys().tolist()
for index, rows in df2.iterrows():
    if pd.isna(df2.iloc[index]['FIRST APPEARANCE']):
        df2.at[index, 'FIRST APPEARANCE'] = np.random.choice(months)

In [ ]:
df2['FIRST APPEARANCE'].value_counts()

In [ ]:
dc_df['FIRST APPEARANCE'].value_counts().head(10)

In [ ]:
marvel_df['FIRST APPEARANCE'].value_counts().head(10)

In [ ]:
df1.isna().sum()

In [ ]:
df2.isna().sum()

In [ ]:
fig = plt.figure(figsize=(12,4), dpi=75)
fig.suptitle("Distribution of gender in comic characters")
ax1 = fig.add_subplot(121)
ax1.set_title("DC")
temp = df1[(df1['SEX']=='Male Characters') | (df1['SEX']=='Female Characters')].SEX
sns.boxplot(x=temp, y=df1['YEAR'], ax= ax1)
ax2 = fig.add_subplot(122)
ax2.set_title("Marvel")
temp = df2[(df2['SEX']=='Male Characters') | (df2['SEX']=='Female Characters')].SEX
sns.boxplot(x=temp, y=df2['Year'], ax=ax2)
plt.show()

The above graph reiterates the point that female characters were introduced much later than the male conterparts for DC and Marvel

In [ ]:
fig = plt.figure(figsize=(12,4), dpi=75)
fig.suptitle("Distribution of hair color in comic characters")
ax3 = fig.add_subplot(111)
ax3.set_title("DC")
temp2 = df1[(df1['APPEARANCES'] > 100 )& (df1['SEX']=='Male Characters') | (df1['SEX']=='Female Characters')]
sns.barplot(x= "HAIR", y="APPEARANCES", data = temp2, hue = 'SEX' ,ax=ax3)
plt.show()

In [ ]:
fig = plt.figure(figsize=(12,4), dpi=75)
fig.suptitle("Distribution of hair color in comic characters")
ax3 = fig.add_subplot(111)
ax3.set_title("Marvel")
temp2 = df2[(df2['APPEARANCES'] > 100 )& (df2['SEX']=='Male Characters') | (df2['SEX']=='Female Characters')]
sns.barplot(x= "HAIR", y="APPEARANCES", data = temp2, hue = 'SEX' ,ax=ax3)
plt.show()

The above plots show that characters in Marvel have bald and no hair which cannot be found DC data. Also males of all hair types are appearing more frequently than female.

In [ ]:
temp2.SEX.value_counts()